.next_page{
    background-color: #d7d0ca;
    color: black;
}

.btn-color{
    background-color: 	#f1afaf;
}
.head-np{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}