.start_para {
  background: black;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin-top: 40px;
}

.start_para:hover {
  background: grey; /* Slightly darker shade on hover */
}